<a href="/">
	<div class="tile" id="title">
		Delp!
	</div>
</a>

<nav class="horizontal-menu bg-cyan">
    <ul>
        <li>
        	<a href='/map'>Nearby</a>
        </li>
        <li>
        	<a href='/events'>Events</a>
        </li>
        <li>
        	<a href='/favorites'>Favorites</a>
    	</li>
	</ul>
</nav>
