<a href="/">
	<div class="tile" id="title">
		Delp!
	</div>
</a>

<nav class="horizontal-menu bg-cyan">
    <ul>
        <li>
        	<a href='/map'>Nearby</a>
        </li>
        <li>
        	<a href='/'>Events</a>
        </li
    </ul>
</nav>