<header class="main">
    <a id="simple-menu" href="#sidr" style="float:left;"><button type="button">Menu</button></a>
    <h2 class="logo"><a href="/" class="ss-list" style="margin-left:10px;">Delp!</a></h2>
    <div id="sidr">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Nearby</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/events">Events</a></li>
        </ul>
    </div>
    <script src="js/jquery.sidr.min.js"></script>
    <script>
        $(document).ready(function() {
          $('#simple-menu').sidr();
        });
    </script>
</header>