<link href="/css/search.css" rel="stylesheet">

<header class="main">
    <nav class="navigation-bar bg-black">
        <nav class="navigation-bar-content">
            <a id="simple-menu" href="#sidr" style="float:left;">
                <item class="element" id="menuElem">
                    <button type="button" class="icon-lines fg-white bg-black"></button>
                        <div id="sidr">
                            <ul>
                              <li><a href="/">Home</a></li>
                              <li><a href="/map">Nearby</a></li>
                              <li><a href="/favorites">Favorites</a></li>
                              <li><a href="/events">Events</a></li>
                              <li><a href="/about">About</a></li>
                              {{#if username}}
                              <li><a href="/user_logout">Log Out</a></li>
                              {{else}}
                              <li><a href="/login">Log In</a></li>
                              {{/if}}
                            </ul>
                        </div>
                </item>
            </a>
            <item class="element" id="delpElem">
                <div class="logo">
                    <a href="/" class="ss-list">
                        <h3>Delp!</h3>
                    </a>
                </div>
            </item>
            <item class="element" id="searchElem">
              <div>
                <span class="searchform">
                    <input id="searchtext" class="searchfield" type="text" placeholder="Search food names/tags...">
                </span>
                <span id="searchsubmit" class="icon-search">
                </span>
              </div>
            </item>
        </nav>
    </nav>

    <script>
        $(document).ready(function() {
          $('#simple-menu').sidr();
        });
    </script>
    <script src="/js/search.js"></script>
</header>