<!doctype html>

<html>
<head>
	<title>{{name}} Dining Hall</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/metro-bootstrap.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<script src="js/jquery/jquery.min.js"></script>
</head>

<body class="metro">
	<div class="tile triple quadro-vertical bg-cyan">
		<h1>{{name}} Dining</h1>
		<p> Open till 8:00pm </p>
		<div class="tile triple bg-green">
			<p> Menu: </p>
        	<ul>
        		<li>Roasted Cauliflower</li>
        		<li>Sauteed Vegetables</li>
        		<li>Spit-Roasted Quinoa</li>
        	</ul>
    	</div>

    	<div class="tile triple bg-yellow">
    		<p> Reviews: </p>
    		<ul>
    			<li>Absolutely smashing! Greatest dining hall...</li>
    			<li>Lacking in vegetarian options...</li>
    		</ul>
    	</div>

    	<div class="tile triple bg-red">
    		<p> Rate your meal: </p>
    		<div class="rating">
			    <ul>
			        <li class="rated"></li>
			        <li class="rated"></li>
			        <li class="rated"></li>
			        <li></li>
			        <li></li>
			    </ul>
			    <span class="score-hint"></span>
			</div>
    	</div>

	</div>
</body>
</html>

