<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/metro-bootstrap.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/jquery.sidr.dark.css">
    <script src="/js/delp.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.sidr.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>  
</head>

<body class="metro">

    {{>navMenu}}       

    <div class="panel" style="margin-left:5px;">
        {{#if message}}
            <div>
                <p style="color:red">{{message}}</p>
            </div>
        {{/if}}
        <!-- Basic login form from Gilbert's session example -->
        <form id="username-form" action="user_login" method="post" role="form">
          <div class="form-group">
            <label for="title">Log In or Create Account</label>
            <input type="text" style="margin-bottom:5px;" class="form-control" name="username" placeholder="username"><br>
            <input type="password" style="margin-bottom:5px;" class="form-control" name="password" placeholder="password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</body>
</html>

