body {
     width: 100%;
}

.tile h1, .tile p, .tile ul{
     color: #ffffff;
}

#title {
	width: 100px;
	height: 32px;
	margin: 0px;
	padding-top: 2px;
	text-align: center;
	font-size: 1.5em;
	color: white;
	background-color: #C41E3A;
}

.panel-content {
	overflow: auto;
}

.metro .panel .panel-header {
	cursor: pointer;
}

.ratings {
	float: right;
}

.foodTile {
	text-align: center;
}

.logo {
	color: white;
}

.element .icon-lines {
	position: relative;
	bottom: 5px;
}

.element h3 {
	color: white;
	position: relative;
	bottom: 15px;
	width: 150px;
	text-align: center;
}

.panel-header h3{
	color: white;
}

.button-set .foodTag {
	cursor: default;
}

.panel-header{
	text-align: center;
}

.metro .rating {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 200px;
}

#back {
	float: left;
}

#brandButtonPanel {
	height:18px;
	min-height:18px;
}

.fg-white .icon-arrow-left {
	float: left;
}