body {
     width: 100%;
}

.tile h1, .tile p, .tile ul{
     color: #ffffff;
}

#title {
	width: 100px;
	height: 32px;
	margin: 0px;
	padding-top: 2px;
	text-align: center;
	font-size: 150%;
	color: white;
	background-color: #C41E3A;
}

#diningPanel {
	width: 250px;
}