body {
     width: 100%;
     margin-left:5px;
}

.tile h1, .tile p, .tile ul{
     color: #ffffff;
}

#title {
	width: 100px;
	height: 32px;
	margin: 0px;
	padding-top: 2px;
	text-align: center;
	font-size: 1.5em;
	color: white;
	background-color: #C41E3A;
}

.panel-content {
	overflow: auto;
}

.metro .panel .panel-header {
	cursor: pointer;
}

.ratings {
	float: right;
}

.foodTile {
	text-align: center;
}

#brandButtonPanel {
	height:18px;
	min-height:18px;
}